h1 {
  text-align:center;
  color:#fb0404;
  font-family: 'ABeeZee', sans-serif;
  font-size: 80px;
}

header {
  background-color: #120639;
  padding-top:15px;
  padding-bottom:15px;
  border-bottom: 10px solid #ffffff;
}

