* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  background:#616161;
  width: 100%;
  height: 100%;
}

.cardbody{
  padding: 0px 50px 50px 50px;
}

.contenedor{
  margin-top: 70px;
  border-radius: 15px;
}

.logo{
  width: 25%;
  padding: 0;
  margin: 0;
}

.textico{
  font-weight: bold;
  font-size: 20px;
}

.boton {
  background-color: #003748;
  color:#ffffff;
  border: none;
}

.lost{
  margin-right: 20px;
}

.singin{
  margin-left: 30px;
}

footer{
  margin-top:40px;
}


