<link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
 crossorigin="anonymous">


<body>


  
    <div class="row" >

      <div class="col-md-4 mx-auto">
        <div class="card contenedor" >
          <div class="card-header text-center textico">
              Account Register
          </div>

          <img src="https://image.flaticon.com/icons/svg/1653/1653700.svg" class="mx-auto d-block m-4 logo">
          
          <div class="card-body" class="cardbody">
            <form action="" class="contenedor-register" >
              
              <div class="form-group">
                <input type="text" class="form-control" #nombre placeholder="Name">
              </div>

              <div class="form-group">
                  <input type="text" class="form-control" #email placeholder="Email">
              </div>

              <div class="form-group">
                  <input type="text" class="form-control" #contrasena placeholder="Password">
              </div>

              <div class= "form-group">
                  <button class="btn btn-primary" style="background-color: rgb(4, 1, 39)" (click)="createUsuarioNuevo(nombre.value, email.value, contrasena.value)">Guardar</button>

              </div>


              <div class="form-group">
                  <a routerLink="/olvide-mi-clave" class="lost">¿Olvidaste tu contraseña?</a>
                  <a routerLink="/inicio" class="singin">Iniciar Sesión</a> 
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>


    <footer  class="navbar">
        <div class="container text-center">
                <h3 class="navbar-text col-md-12 col-sm-12 col-xs-12"> </h3>
        </div>
    </footer>

</body>