<link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
 crossorigin="anonymous">


<body>

	<h2>Bienvenido</h2>

	<div id="login">
		<form action="">
			<label>Usuario</label><br><br>
			<input type="text" name="usuario" class="form-control"><br>
      <label>Contraseña</label><br><br>
      <input type="password" name="clave" class="form-control"><br><br>
      <input class="ingresar btn btn-primary btn-lg" type="submit" value="INGRESAR">
    </form>
  </div>

  <div id="footer">
    <div>
      <a href="">¿Olvidaste tu contraseña?</a>
    </div>
    <div>
      <a href="">Registrarse</a>
    </div>
  </div>

</body>