<link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
 crossorigin="anonymous">


<body>

	    
    <header  class="navbar">
        <div class="container text-center">
                <h3 class="navbar-text col-md-12 col-sm-12 col-xs-12"> </h3>
        </div>
      </header>

  <div class="row" >

      <div class="col-md-4 mx-auto">
        <div class="card contenedor" >
          <div class="card-header text-center textico">
              Account Login
          </div>
          <img src="https://image.flaticon.com/icons/png/512/295/295128.png" class="mx-auto d-block m-4 logo">
          <div class="card-body" class="cardbody">
            <form action="" class="contenedor-login" >
              
              <div class="form-group">
                <input type="name" class="form-control" name="name" placeholder="Username">
              </div>

              <div class="form-group">
                  <input type="password" class="form-control" name="password" placeholder="Password">
              </div>

              <div class= "form-group">
                  <button type="submit" class=" boton btn btn-primary btn-block btn-lg">
                    Login
                  </button>
              </div>


              <div class="form-group">
                  <a routerLink="/olvide-mi-clave" class="lost">¿Olvidaste tu contraseña?</a>
                  <a routerLink="/registro" class="singup">Registrarse</a> 
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>

    
    <footer  class="navbar">
        <div class="container text-center">
                <h3 class="navbar-text col-md-12 col-sm-12 col-xs-12"> </h3>
        </div>
    </footer>

</body>