<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>
        <img src="https://d29fhpw069ctt2.cloudfront.net/icon/image/74187/preview.svg" class="mx-auto d-block m-4 logo">
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#"> Historial de noticias</a>
      <a mat-list-item href="#"> Perfil del usuario</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="name">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$) ">

        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Fake News</span>

      <div class="container principal">
        <div class="row">
            <div class="logout" >
                <a routerLink="/" class="text_logout"> Logout </a>
                <mat-icon  class="icon_logout">power_settings_new</mat-icon>
            </div>
        </div>
      </div>

    </mat-toolbar>

    <div class="container contenido">
      <div class="row">
          <div class="col-md-12 primero">
            <h1 style="color: rgb(3, 0, 51)">Formulario registrar nueva noticia</h1>
          </div>

          <div class="col-md-6">
              <div id="formulario">
                  <form id="" action="">
                    <h3 style="color: rgb(3, 0, 51)">Fecha:</h3><br>
                    <input type="date" #fecha class="form-control"><br>
                    <h3 style="color: rgb(3, 0, 51)"> Fuente: </h3><br>
                    <input placeholder="Fuente..." type="text" #fuente class="form-control"><br>
                    <h3 style="color: rgb(3, 0, 51)"> Descripción:</h3><br>
                    <textarea class="form-control" rows="4" cols="50" #comment form="usrform" placeholder="Escriba la noticia aquí...">
                    </textarea><br>
                    <h3 style="color: rgb(3, 0, 51)">Sujeto:</h3><br><br>
                    <input placeholder="Sujeto..." type="text" #sujeto class="form-control"><br><br>
                    <br><br>
                    <button class="btn btn-primary" style="background-color: rgb(4, 1, 39)" (click)="createNoticia(fecha.value, fuente.value, comment.value, sujeto.value)">Guardar</button><br><br>
                    <a routerLink="/periodista" class="btn btn-primary"  style="background-color: rgb(4, 1, 39)" role="button" aria-pressed="true">CANCELAR</a>
                  </form>
                </div>
          </div>
      </div>
      </div>

  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <body>

	<div class="grid-container">

		<div id="menu" class="item2">
			<h3>Bienvenido Validador 1</h3>
			<br>
      <img id="perfil-icono" src="https://image.flaticon.com/icons/svg/149/149071.svg">
      <br>
      <h5>PVR: </h5> <label>83</label><br>
      <h5>Porcentaje de red validada: </h5> <label>43%</label> <br><br>
      <h5>Nombre: </h5> <label>Validador 1</label> <br>
      <h5>Correo: </h5> <label>v1@fakenews.com</label> <br>
      <h5>Rol: </h5> <label>Validador</label> <br><br><br>

      <a routerLink="/inicio">Cerrar Sesión</a>

    </div>

    <div id="main" class="item3">

      <h1>Cargar Nueva Noticia</h1>

      <br><br>

    
	<div id="formulario">
		<form id="" action="">
			<label>Fecha:</label><br><br>
			<input type="date" name="fecha" class="form-control"><br><br>
      <label>Fuente:</label><br><br>
			<input placeholder="Fuente..." type="text" name="fuente" class="form-control"><br><br>
      <label>Descripción:</label><br><br>
      <textarea class="form-control" rows="4" cols="50" name="comment" form="usrform" placeholder="Escriba la noticia aquí...">
      </textarea><br><br>
      <label>Sujeto:</label><br><br>
			<input placeholder="Sujeto..." type="text" name="fuente" class="form-control"><br><br>
      <br><br><br><br>
      <input class="ingresar btn btn-primary btn-lg" type="submit" value="CARGAR NUEVA NOTICIA"><br><br>
      <a routerLink="/periodista" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">CANCELAR</a>
    </form>
  </div>

    </div>  

  </div>

</body> -->