<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

	<div class="grid-container">

		<div id="menu" class="item2">
			<h3>Bienvenido Validador 1</h3>
			<br>
      <img id="perfil-icono" src="https://image.flaticon.com/icons/svg/149/149071.svg">
      <br>
      <h5>PVR: </h5> <label>83</label><br>
      <h5>Porcentaje de red validada: </h5> <label>43%</label> <br><br>
      <h5>Nombre: </h5> <label>Validador 1</label> <br>
      <h5>Correo: </h5> <label>v1@fakenews.com</label> <br>
      <h5>Rol: </h5> <label>Validador</label> <br><br><br>

      <a routerLink="/inicio">Cerrar Sesión</a>

    </div>

    <div id="main" class="item3">

      <h1>Cargar Nueva Noticia</h1>

      <br><br>

    
	<div id="formulario">
		<form id="" action="">
			<label>Fecha:</label><br><br>
			<input type="date" name="fecha" class="form-control"><br><br>
      <label>Fuente:</label><br><br>
			<input placeholder="Fuente..." type="text" name="fuente" class="form-control"><br><br>
      <label>Descripción:</label><br><br>
      <textarea class="form-control" rows="4" cols="50" name="comment" form="usrform" placeholder="Escriba la noticia aquí...">
      </textarea><br><br>
      <label>Sujeto:</label><br><br>
			<input placeholder="Sujeto..." type="text" name="fuente" class="form-control"><br><br>
      <br><br><br><br>
      <input class="ingresar btn btn-primary btn-lg" type="submit" value="CARGAR NUEVA NOTICIA"><br><br>
      <a routerLink="/periodista" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">CANCELAR</a>
    </form>
  </div>

    </div>  

  </div>

</body>