<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <img src="https://d29fhpw069ctt2.cloudfront.net/icon/image/74187/preview.svg" class="mx-auto d-block m-4 logo">
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="../"> Perfil del usuario</a><br>
      <a mat-list-item routerLink="../noticias-validadas"> Historial de noticias validadas</a><br>
      <a mat-list-item routerLink="../validar-noticia"> Validar Noticia</a><br>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="name">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset$) ">

        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Fake News</span>

      <div class="container principal">
        <div class="row">
          <div class="logout">
            <a routerLink="/" class="text_logout"> Logout </a>
            <mat-icon class="icon_logout">power_settings_new</mat-icon>
          </div>
        </div>
      </div>

    </mat-toolbar>

    <div class="container contenido">
      <div class="row">
        <div class="col-md-12 primero">
          <h1 class="titulo">Validar Noticia</h1>
        </div>


        <div class="col-md-12 table-responsive-sm">

          <table class="table table-dark">
            <thead>
              <tr>
                  <th scope="col">Titulo de la noticia</th>
                <th scope="col">fecha de la noticia</th>
                <th scope="col">fuente de la noticia</th>
                <th scope="col">autor de la noticia</th>
                <th scope="col">descripcion de la noticia</th>
                <th scope="col">validado</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let nuevanoticia of items">
                <td>{{nuevanoticia.titulo}}</td>
                <td>{{nuevanoticia.fecha}}</td>
                <td>{{nuevanoticia.fuente}}</td>
                <td>{{nuevanoticia.autor}}</td>
                <td>{{nuevanoticia.descripcion}}</td>
                <td>{{nuevanoticia.validado}}</td>
              </tr>
            </tbody>
          </table>

        </div>
       
   
      <h3 style="color: rgb(3, 0, 51)">Validado:</h3><br>
      <input placeholder="true/false..." type="text" #validado  class="form-control"><br>
      
      <br><br>
      <button class="btn btn-primary" style="background-color: rgb(4, 1, 39)" (click)="ModificarNoticia(validado.value)">Guardar</button>

        
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>