<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
      <mat-toolbar>
          <img src="https://d29fhpw069ctt2.cloudfront.net/icon/image/74187/preview.svg" class="mx-auto d-block m-4 logo">
      </mat-toolbar>
      <mat-nav-list>
          <a mat-list-item href="#"> Historial de noticias por validar</a>
          <a mat-list-item href="#"> Perfil del usuario</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="name">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="(isHandset$) ">
  
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Fake News</span>

        <div class="container principal">
          <div class="row">
              <div class="logout" >
                  <a href="#" class="text_logout"> Logout </a>
                  <mat-icon  class="icon_logout">power_settings_new</mat-icon>
              </div>
          </div>
        </div>

      </mat-toolbar>

      <div class="container contenido">
        <div class="row">

          <!-- ACA ESTA EL ARE A DE TRABAJO DEL COMPONENTE -->

            <div class="col-md-12 primero ">
              <h3 class="titulo">Bienvenido Validador 1</h3>
            </div>

          

            <div class="col-md-12 table-responsive-sm">
              <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">fecha de la noticia</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Validar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let nuevanoticia of items">
                    <td>{{nuevanoticia.fecha}}</td>
                    <td>{{nuevanoticia.comment}}</td>
                    <td>
                      <input type="radio" name="optradio" checked>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>


        <a href="#" class="btn btn-dark" >Validar</a>


        <!-- ACA TERMINA  :v -->
    </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
  














<!-- <body>

	<div class="grid-container">

		<div id="menu" class="item2">
			<h3>Bienvenido Validador 1</h3>
			<br>
      <img id="perfil-icono" src="https://image.flaticon.com/icons/svg/149/149071.svg">
      <br>
      <h5>PVR: </h5> <label>83</label><br>
      <h5>Porcentaje de red validada: </h5> <label>43%</label> <br><br>
      <h5>Nombre: </h5> <label>Validador 1</label> <br>
      <h5>Correo: </h5> <label>v1@fakenews.com</label> <br>
      <h5>Rol: </h5> <label>Validador</label> <br><br><br>

      <a href="">Cerrar Sesión</a>
    </div>

    <div id="main" class="item3">

      <h1>Noticias Por Validar</h1>

      <br><br>

    <div id="tabla">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Noticia</th>
              <th scope="col">Descripción</th>
              <th scope="col">Validar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Noticia 1</th>
              <td>Descripción 1</td>
              <td><div class="radio">
  <label><input type="radio" name="optradio" checked></label>
</div></td>
            </tr>
            <tr>
              <th scope="row">Noticia 2</th>
              <td>Descripción 2</td>
              <td><div class="radio">
  <label><input type="radio" name="optradio"></label>
</div></td>
            </tr>
            <tr>
              <th scope="row">Noticia 3</th>
              <td>Descripción 3</td>
              <td><div class="radio">
  <label><input type="radio" name="optradio"></label>
</div></td>
            </tr>
            <tr>
              <th scope="row">Noticia 4</th>
              <td>Descripción 4</td>
              <td><div class="radio">
  <label><input type="radio" name="optradio"></label>
</div></td>
            </tr>
          </tbody>
        </table>

        <br><br><br>
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">VALIDAR NUEVA NOTICIA</a>

    </div>

    </div>  

  </div>

</body> -->